.soundman-drawing {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%; /* Ensures the container takes full height */
  }
  
  .soundman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .booth-container {
    margin-bottom: 10px; /* Adjust spacing between images */
  }
  
  /* Individual image containers */
  .booth-img {
    margin-bottom: 10px; /* Adjust spacing between images */
}
  
  .head-img {
    margin-bottom: 10px; /* Adjust spacing between images */
    position: absolute;
    top: 0px; /* Adjust this value based on your design */
    left: 50%;
    transform: translateX(-50%);
  }
  .body-img {
    margin-bottom: 10px; /* Adjust spacing between images */
    position: absolute;
    top: 0px; /* Adjust this value based on your design */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .headphones-img {
    margin-bottom: 10px; /* Adjust spacing between images */
    position: absolute;
    top: 0px; /* Adjust this value based on your design */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .left-record-img {
    margin-bottom: 10px; /* Adjust spacing between images */
    position: absolute;
    top: 0px; /* Adjust this value based on your design */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .left-arm-img {
    margin-bottom: 10px; /* Adjust spacing between images */
    position: absolute;
    top: 0px; /* Adjust this value based on your design */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .right-record-img {
    margin-bottom: 10px; /* Adjust spacing between images */
    position: absolute;
    top: 0px; /* Adjust this value based on your design */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .right-arm-img {
    margin-bottom: 10px; /* Adjust spacing between images */
    position: absolute;
    top: 0px; /* Adjust this value based on your design */
    left: 50%;
    transform: translateX(-50%);
  }